@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;600&display=swap'); /* font -  NotoSansKorean */

body {
  margin: 0;
  height: 100vh;
  background-image: linear-gradient(to top, #f3e7e9 0%, #e4eefd 99%, #e7f0ff 100%);
}

* {
  /* 전체 글씨체 적용 */
  font-family: 'Noto Sans KR', sans-serif;
} 

.container {
  padding: 20px;
}

#map {
  /* 지도 */
  height: 100%;
}

.rowScroll {
  /* 가로 스크롤 */
  width: 600px;
  padding: 20px;
  overflow: scroll;
  white-space: nowrap;
}

.rowScroll::-webkit-scrollbar {
  /* 가로 스크롤 바 */
  display: none; 
}

.map_wrap {
  /* 지도 박스 */
  background-color: #F2F2F2;
  border-radius: 15px;
  padding: 15px;
  height: auto;
  width: auto;
  box-shadow: 5px 5px 20px 5px #D0D0D0;
}

.addrbox {
  /* 지도 중심 좌표 주소 박스 */
  background-color: #F2F2F2;
  border-radius: 15px;
  padding: 15px;
  height: auto;
  width: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  box-shadow: 5px 5px 20px 5px #D0D0D0;
}